<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= pageTitle %> - Youth Gear</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/yg.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body class="yg">

  <header>
    <a id="header-acc-jump" class="sr-only sr-only-focusable" href="#main-acc-jump">
      <div class="container">
        <span class="skiplink-text">Skip to content</span>
      </div>
    </a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container-yg">
        <a class="navbar-brand" href="/"><span class="fas fa-code-branch mr-3" aria-hidden="true"></span>Youth Gear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/gear" class="nav-link">Gear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" aria-label="Login to use personalised features"><span class="fas fa-sign-in-alt" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <a id="main-acc-jump" class="sr-only sr-only-focusable" href="#footer-acc-jumpf">
      <div class="container">
        <span class="skiplink-text">Skip to footer content</span>
      </div>
    </a>

    <% if (typeof alert !== 'undefined') { %>
      <%- include('alert', { alert: alert }) %>
    <% } %>


