<div class="card">
  <div class="card-header bg-dark text-white">
    Plan a Journey
  </div>
  <div class="card-body">
    <p>To plan a journey within London, using either public or private transport or by walking or cycling, then enter your starting location and where you are trying to reach to get
      travel instructions based on current conditions. <a href="/plan-a-journey">To use more advanced planning options, then visit our Journey Planner page.</a></p>
    <form action="/plan-a-journey" method="GET">
      <div class="form-group row">
        <label for="fromPlace" class="col-sm-3 col-form-label">From</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="fromPlace" name="from">
        </div>
      </div>
      <div class="form-group row">
        <label for="toPlace" class="col-sm-3 col-form-label">To</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="toPlace" name="to">
        </div>
      </div>
      <div class="form-group row">
        <label for="modeOfTransport" class="col-sm-3 col-form-label">Mode</label>
        <div class="col-sm-9">
          <select class="form-control" id="modeOfTransport" name="mode">
            <option value="public">Public transport</option>
            <option value="bus">Bus only</option>
            <option value="private">Private transport</option>
            <option value="cycling">Cycling</option>
            <option value="walking">Walking</option>
          </select>
        </div>
      </div>
      <button class="btn btn-primary btn-textwrap w-100" type="submit">Plan my journey</button>
    </form>
  </div>
</div>