<%- include('includes/head') %>

  <main>
    <a id="main" class="sr-only sr-only-focusable" href="#footer">
      <div class="container">
        <span class="skiplink-text">Skip to footer content</span>
      </div>
    </a>
    <section id="title" class="banner-content">
      <div class="container-fluid">
        <div class="container-yg">
          <h1 class="h-standard">Page Not Found</h1>
        </div>
      </div>
    </section>

    <section id="content" class="container-fluid">
      <div class="container-yg">
        <div class="row">
          <div class="col-12">
            <p>We're very sorry, but the page you were looking for has not been found</p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('includes/foot') %>