<%- include('includes/head') %>

  <section id="header" class="container-fluid">
  </section>

  <section id="main" class="container-fluid">
    <div class="container-yg">
      <h1 class="h-standard">Welcome</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Features</h5>
              <div class="card m-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/gear/index">Manage Gear</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Page examples</h5>
              <div class="card m-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('includes/foot') %>