/* colors */
$darkside: #000000;
$lightside: #eff6fd;

$gallery: #eeeeee;
$silver: #cccccc;

$selago: #eff6fd;
$matisse: #2070b0;

$razzmatazz: #dc006b;

$charade: #2d3039;
$woodsmoke: #121315;

$shark: #202329;
$downy: #6cc6cc;

$bakerloo: #894e24;
$bakerloo-dark: #633717;

$central: #dc241f;
$central-dark: #a71F1b;

$circle: #ffce00;
$circle-dark: #b99709;

$district: #007229;
$district-dark: #094920;

$hammersmithcity: #d799af;
$hammersmithcity-dark: #cb3a6d;

$jubilee: #6a7278;
$jubilee-dark: #383b3d;

$metropolitan: #751056;
$metropolitan-dark: #3e092e;

$northern: #000000;
$northern-dark: #353635;

$piccadilly: #0019a8;
$piccadilly-dark: #020931;

$victoria: #00a0e2;
$victoria-dark: #04435d;

$waterloocity: #76d0bd;
$waterloocity-dark: #368776;

$overground: #e86a10;
$overground-dark: #9c480d;

$dlr: #00afad;
$dlr-dark: #044e4d;

$tram: #66cc00;
$tram-dark: #2b5205;

$tflrail: #0019a8;
$tflrail-dark: #020931;